@model Domain.Models.Productos

@{
  ViewData["Title"] = "Details";
  Layout = "~/Areas/Public/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-black">Detalle del producto @Model.Nombre</h1>

<div class="Container">
  <hr />
  <dl class=row>
    <dt class=col-sm-2>
      @Html.DisplayNameFor(model => model.Sku)
    </dt>
    <dd class=col-sm-10>
      @Html.DisplayFor(model => model.Sku)
    </dd>
    <dt class=col-sm-2>
      @Html.DisplayNameFor(model => model.Nombre)
    </dt>
    <dd class=col-sm-10>
      @Html.DisplayFor(model => model.Nombre)
    </dd>
    <dt class=col-sm-2>
      @Html.DisplayNameFor(model => model.Descripcion)
    </dt>
    <dd class=col-sm-10>
      @Html.DisplayFor(model => model.Descripcion)
    </dd>
    <dt class=col-sm-2>
      @Html.DisplayNameFor(model => model.PrecioNormal)
    </dt>
    <dd class=col-sm-10>
      @Html.DisplayFor(model => model.PrecioNormal)
    </dd>
    <dt class=col-sm-2>
      @Html.DisplayNameFor(model => model.DescuentoPrecio)
    </dt>
    <dd class=col-sm-10>
      @Html.DisplayFor(model => model.DescuentoPrecio)
    </dd>
    <dt class=col-sm-2>
      @Html.DisplayNameFor(model => model.Cantidad)
    </dt>
    <dd class=col-sm-10>
      @Html.DisplayFor(model => model.Cantidad)
    </dd>
    <dt class=col-sm-2>
      @Html.DisplayNameFor(model => model.ImagenPrincipal)
    </dt>
    <dd class=col-sm-10>
      <img src="@Model.ImagenPrincipal" alt="@Model.Nombre" width="150">
    </dd>
  </dl>
</div>
<div>
  <a asp-action=Edit asp-route-id=@Model.Id>Edit</a> |
  <a asp-action=Index>Back to List</a>
</div>
